.phantom {
    background-color: transparent;
}

.cbar {
    background-color: #1E1E2E;
    border-top: 2px solid #cba6f7;
    min-height: 25px;
    padding: 5px;
}

.cmodule {
    font-weight: bold;
    padding: 2px;
}

.boxes {
    transition: all 0.2s ease;
    min-width: 45px;
    border-radius: 10px;
}

.boxes.module-highlight {
    border: 1px dashed #cba6f7;
}